body{
    height: 100%;
	font-family: 'Microsoft Yahei', sans-serif;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -150px;
    width:300px;
    height:300px;
}

h1{
    font-size: 25px;
    padding-left: 50px;
}

#tip{
    display: none;
    float: right;
}


input{
    padding:10px;
    width:70%;
    /* color:white; */
    margin-bottom:10px;
    /* background-color:#a64bf4; */
    border: 1px solid black;
    border-radius:4px;
    letter-spacing:2px;
}

.button{
    width:60%;
    padding:10px;
    background-color:#a64bf4;
    border:1px solid black;
    border-radius:4px;
    cursor:pointer; 
    padding-left:10px;
} 